/*
Custom css
*/

.detail-form{
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.4285714286;
    position: relative;
}

.line{
    position: absolute;
    width: 50%;
    top: 20px;
    left: 30px;
    border-bottom: 2px dotted #ff3399;
}

.tracking {
    position: absolute;
    width: 98%;
    height: 500px;
    z-index: 1001;
    left: 1%;
    top: 0;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding-top: 230px;
    font-size: 1.5rem;
    text-align: center
}

@media(min-width: 375px) {
    .line {
        width: 20%
    }
    
}
@media(max-width: 375px) {
    .tracking {
        font-size: 1rem
    }
}

.w-20{
    position: relative;
}

.bg-progress {
    background: #d3d3d3;
}

.bg-progress-ac {
    background: #900c3f;
}

.current{
    border: 2px solid #ff3399
}